In [72]:
import numpy as np
import pandas as pd

df_file = pd.read_csv('/Users/rohitbathi/Desktop/Masters/sem2/DV/Project/moviereview_doc_topic_distribution.csv')
df_word = pd.read_csv('/Users/rohitbathi/Desktop/Masters/sem2/DV/Project/moviereview_word_topic_distribution.csv')

In [73]:
df_file.head()

,file,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,Topic 6,Topic 7,Topic 8,Topic 9,...,Topic 41,Topic 42,Topic 43,Topic 44,Topic 45,Topic 46,Topic 47,Topic 48,Topic 49,Topic 50
0,1597_0.txt,0.000171,0.000171,0.000171,0.000171,0.000171,0.087303,0.000171,0.000171,0.000171,...,0.000171,0.000171,0.000171,0.000171,0.082035,0.000171,0.000171,0.000171,0.000171,0.000171
1,1905_0.txt,0.000154,0.000154,0.000154,0.000154,0.000154,0.472114,0.000154,0.000154,0.000154,...,0.000154,0.000154,0.000154,0.000154,0.036364,0.000154,0.000154,0.000154,0.000154,0.000154
2,1146_0.txt,0.000187,0.000187,0.000187,0.000187,0.000187,0.693068,0.000187,0.000187,0.000187,...,0.000187,0.000187,0.000187,0.000187,0.136448,0.000187,0.000187,0.000187,0.000187,0.000187
3,1940_0.txt,0.000645,0.000645,0.000645,0.000645,0.000645,0.968381,0.000645,0.000645,0.000645,...,0.000645,0.000645,0.000645,0.000645,0.000645,0.000645,0.000645,0.000645,0.000645,0.000645
4,1103_0.txt,0.000477,0.000477,0.000477,0.000477,0.000477,0.000477,0.000477,0.000477,0.000477,...,0.000477,0.119118,0.000477,0.000477,0.148785,0.000477,0.000477,0.000477,0.000477,0.000477

In [74]:
df_word.head()

,word,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,Topic 6,Topic 7,Topic 8,Topic 9,...,Topic 41,Topic 42,Topic 43,Topic 44,Topic 45,Topic 46,Topic 47,Topic 48,Topic 49,Topic 50
0,1830s,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,1938,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,910,0.0,0.0,0.0,0.0,0.001159,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000060,0.0,0.0,0.0,0.0,0.0
3,along,0.0,0.0,0.0,0.0,0.000000,0.000522,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000643,0.0,0.0,0.0,0.0,0.0
4,also,0.0,0.0,0.0,0.0,0.000000,0.003771,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.003008,0.0,0.0,0.0,0.0,0.0

In [75]:
cols = df_file.columns.tolist()
cols.remove('file')
res = df_file[cols].sum(axis=1)
res

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1996    1.0
1997    1.0
1998    1.0
1999    1.0
2000    1.0
Length: 2001, dtype: float64